<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>

<div data-controller="users">

    <!-- 회원생성 폼 만들기 -->
    <form data-action="submit->users#submit" id="login_form">
        <div class="field">
            <label for="email">Email</label><br />
            <input data-target="users.email" type="text" id="email" autofocus="true"  />
        </div>

        <div class="field">
            <label for="password">Password</label><br />
            <input data-target="users.password" type="password" id="password" autocomplete="current-password" />
        </div>

        <div>
            <button type="submit">Log in</button>
        </div>

    </form>
</div>
